{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki | Create new entry
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Create new entry</h2>
    </div>
    <div class="container mt-3">
        <p>Please complete the form below to create a new encyclopedia entry</p>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="label">{{ field.html_name|lower|capfirst }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="form-text text-muted">{{ field.help_text }}</p>
                    {% endif %}
                    {% if form.field.errors %}
                        <p class="form-text text-danger">{{ field.errors }}</p>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-dark" type="submit">Create entry</button>
        </form>
    </div>

{% endblock %}