{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row">
            <div class="sidebar d-flex flex-column col-lg-2 col-sm-4 col-xs-12">
                <h2>Wiki</h2>
                <form method="post">
                    <div class="d-flex flex-column justify-content-center p-1">
                        <div>
                            {{ search_form }}
                        </div>
                        <button class="btn btn-dark" type="submit">
                                Search
                        </button>
                    </div>
                </form>
                <div>
                    <a href="{% url 'wiki:index' %}">Home</a>
                </div>
                <div>
                    Create New Page
                </div>
                <div>
                    Random Page
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main container col-lg-10 col-sm-8 col-xs-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>