{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row container-fluid page-content">
            <div class="container m-auto sidebar d-flex flex-column col-lg-2 col-sm-4 col-xs-12">
                <h2>Wiki</h2>
                <form method="get" action="{% url 'wiki:search_results' %}">
                    {% csrf_token %}
                    {% for field in search_form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="label sr-only">{{ field.html_name|lower|capfirst }}</label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="form-text text-muted">{{ field.help_text }}</p>
                            {% endif %}
                            {% if form.field.errors %}
                                <p class="form-text text-danger">{{ field.errors }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn btn-dark" type="submit">
                            Search
                    </button>
                </form>
                <div>
                    <div>
                        <a class="btn sidebar-link" href="{% url 'wiki:index' %}">Home</a>
                    </div>
                    <div>
                        <a class="btn sidebar-link" href="{% url 'wiki:create_new_entry' %}">Create New Page</a>
                    </div>
                    <div>
                        <a class="btn sidebar-link" href="{% url 'wiki:random_entry_page' %}">Random Page</a>
                    </div>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main container col-lg-10 col-sm-8 col-xs-12">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>